[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "dotbot-asdf"]
	path = dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "dotbot-apt-get"]
	path = dotbot-apt-get
	url = https://github.com/rubenvereecken/dotbot-apt-get
[submodule "dotbot-snap"]
	path = dotbot-snap
	url = https://github.com/DrDynamic/dotbot-snap.git
[submodule "crontab-dotbot"]
	path = crontab-dotbot
	url = https://github.com/fundor333/crontab-dotbot.git
[submodule "hammerspoon/Spoons/EnhancedSpaces.spoon"]
	path = hammerspoon/Spoons/EnhancedSpaces.spoon
	url = https://github.com/franzbu/EnhancedSpaces.spoon.git
