<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.karabiner-goku</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/watchexec</string>
		<string>-r</string>
		<string>-e</string>
		<string>edn</string>
		<string>-w</string>
		<string>/Users/einverne/.config/karabiner.edn</string>
		<string>/Users/einverne/dotfiles/bin/karabiner-goku-build</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/karabiner-goku-build.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/karabiner-goku-build.err.log</string>
</dict>
</plist>
